<h1><%= @app.name %></h1>
  <%= link_to("Add a new release", new_app_release_path(@app)) %>
<h2>Releases:</h2>
<ul>
  <% @app.releases.each do |release| %>
    <li id="<%= dom_id(release)%>">
      <%= link_to("Branch: #{release.branch_name}", app_release_path(@app.id, release.id)) %>
      <%= link_to("Edit", edit_app_release_path(@app.id, release.id)) %>
      <%= link_to("Delete", app_release_path(@app.id, release.id), method: :delete) %>
    </li>
  <% end %>
</ul>
