<h1><%= @app.name %></h1>
  <%= link_to("Add a new release", new_app_release_path(@app)) %>
<h2>Releases:</h2>
<ul>
  <% @app.releases.each do |release| %>
    <li id="<%= dom_id(release)%>" class="index_list_item">
      <h3>
        Release: <%= link_to("#{release.tag_name}", app_release_path(@app.id, release.id)) %>
      </h3>
      <div>
        Clients: <%= release.clients.pluck(:name).join(', ') %>
      </div>
      <div>
        <strong>Description:</strong>
      </div>
      <p>
        <%= release.description %>
      </p>
      <span>
        <%= link_to("Edit", edit_app_release_path(@app.id, release.id)) %>
        |
        <%= link_to("Delete", app_release_path(@app.id, release.id), method: :delete,
          data: { confirm: 'Are you sure?' }) %>
      </span>
    </li>
  <% end %>
</ul>
