<h1><%= @app.name %> Release: <%=@release.tag_name%></h1>
  <div>
    <strong>Applicable clients:</strong></br>
    <% @release.clients.each do |client| %>
      <%= client.name %>,
    <% end %>
    <div>
      <strong>Release Details:</strong>
      <p>
        <%= @release.description %>
      </p>
    </div>
    <span>
      <%= link_to("Delete", app_release_path(@app.id, @release.id), method: :delete,
        data: { confirm: 'Are you sure?' }) %>
      |
      <%= link_to("Edit", edit_app_release_path(@app.id, @release.id)) %>
    </span>

    <h5><%= link_to("Return to #{@app.name} release index", app_path(@app.id)) %></h5>
  </div>
