<h1>Release Branch: <%=@release.branch_name%>, Tag: <%=@release.tag_name%></h1>
  <div>
    <%= @release.description %>
    Applicable clients:
    <% @release.clients.each do |client| %>
      <%= client.name %>,
    <% end %>
    <%= link_to("Delete", app_release_path(@release.app.id, @release.id), method: :delete) %>
  </div>
